[Desktop Entry]
Type=Application
Name=Orange Notes
Exec=OrangeNotes
Icon=org.orangenotes.OrangeNotes
Terminal=false
Categories=Office;Utility;
